</head>

<body>
  <!-- sticky navbar -->
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link navbar-brand" href="/">HOME PAGE</a></li>
      <li class="nav-item"><a class="nav-link navbar-brand" href="/tags">TAGS</a></li>
      <li class="nav-item"><a class="nav-link navbar-brand" href="/add">ADD PLACE</a></li>
      <li class="nav-item"><a class="nav-link navbar-brand" href="/register">Register</a></li>
      <li class="nav-item"><a class="nav-link navbar-brand" href="/login">Log In</a></li>
    </ul>
  </nav>
  <div class="container">