<h2>Password Reset</h2>
<p>Hello. You have requested a password reset. Please click the following button to continue on with resetting your password.
  Please note this link is only valid for the next hour.</p>
<button style="background-color:yellow">
  <a src="<%=resetURL%>">
    Reset My Password
  </a>
</button>

<p>If you can't click the above button, please visit <a href="<%=resetURL%>"><%=resetURL%></a></p>

<p>If you didn't request password reset, please ignore it.</p>