<% include ./partials/_head %>
<title> Add Place</title>
<% include ./partials/_navbar %>

<h1>Add Place</h1>
<!-- render flash message -->
<% include ./partials/_flashMessage %>
<% include ./partials/_placeForm %>

</body>

</html>