<% include ./partials/_header %>
<h1>Edit Place</h1>

<!-- render flash message -->
<% if (locals.flashes) { %>
<% const categories = Object.keys(locals.flashes) %>
<% categories.forEach(category => { %>
<% locals.flashes[category].forEach (message => { %>
<div class="alert alert-<%=category%>" role="alert">
  <%= message %>
  <% }) %>
</div>
<% }) %>
<% } %>

<% include ./place_form %>

</body>

</html>