<% include ./partials/_header %>

<h1>Home Page</h1>

<% places.forEach((place) => { %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <a href="<%=`/places/${place._id}`%>">
        <%=place.name%>
      </a>
    </h5>
    <p class="card-text">
      <%=place.description.split(' ').slice(0, 25).join(' ')%>
    </p>
    <a href="<%=`/places/${place._id}/edit`%>" class="btn btn-primary">Edit</a>
  </div>
</div>
<% }) %>

</div>
</body>

</html>