<% include ./partials/_head %>
<title>
  <%=title%>
</title>
<% include ./partials/_navbar %>
<!-- render flash message -->
<% include ./partials/_flashMessage %>
<h1>Places</h1>
<%include ./partials/_placeCard %>
</body>

</html>