.fa-rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.card-gutter {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.img-cropped {
  height: 250px;
  object-fit: cover;
}

.static-map-cropped{
  width: 100%;
  object-fit: cover;
}

.avatar {
  min-width: 20px;
  height: 40px;
  border-radius: 50%;
}